<link rel="stylesheet" href="css/estilos.css" />

<section class="alert alert-primary">
  <p><b>- Entry arguments:</b>{{argum}}</p>

  <p><b>- Platform name (os): </b>{{plat}}</p>

  <p><b>- Node.js version: </b>{{ver}}</p>

  <p><b>- Memory use: </b>{{mem}}</p>

  <p><b>- Starting path: </b>{{execPath}}</p>

  <p><b>- Process id: </b>{{pid}}</p>

  <p><b>- Folder: </b>{{carp}}</p>
</section>

<script>
  {{! setTimeout(() => { location.href = '/' },2000) }}
</script>